<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UrdsAppGestión.Properties.Settings.copia_urdsConnectionString"
            connectionString="Database=copia_urds;Offline=False;Port=3307;Server=192.168.0.20;User=root"
            providerName="System.Data.CData.MySQL" />
        <add name="UrdsAppGestión.Properties.Settings.ConexiónInformes"
            connectionString="Dsn=COPIA_URDS;uid=gestor" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
